.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu_element {
  float: left;
}

.menu_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu_element a:hover {
  background-color: #111111;
}

footer {
  position: absolute;
  bottom: 0;
}