{% extends "index.html" %}

{% block title %}
    Create a user
{% endblock %}

{% block page_title %}{{ block.super }} - Create{% endblock %}

{% block content %}
    <h1>Create a user</h1>
    <form method="post" action="{% url 'create_user' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
    {% if has_error %}
        <p>
            <strong>
                {{ error }}
            </strong>
        </p>
    {% endif %}
{% endblock%}