{% extends "index.html" %}

{% block title %}
    User's list {% if filter %} - {{ filter }}{% endif %}
{% endblock %}

{% block page_title %}
    {{ block.super }} - Users
    {% if filter %}
        {{ filter }}
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="menu">
        <li class="menu_element"><a href="{% url 'index' %}">All</a></li>
        <li class="menu_element"><a href="{% url 'index_filter' filter='admin' %}">Admins</a></li>
        <li class="menu_element"><a href="{% url 'index_filter' filter='secretary' %}">Secretaries</a></li>
        <li class="menu_element"><a href="{% url 'index_filter' filter='student' %}">Students</a></li>
    </ul>
    <h1>Users list</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% empty %}
            <li>Sadly there are no {% if filter %} {{ filter }}{% endif %} user</li>
        {% endfor %}
    </ul>
{% endblock%}