{% extends "index.html" %}
{% load static %}

{% block title %}{{ block.super }} - User profile{% endblock %}

{% block page_title %}
    {{ block.super }} -
    {% comment %} Block comment and 'title' filter {% endcomment %}
    {% if own_account %} Your profile {% else %} {{ user.username|title }} account {% endif %}
{% endblock %}

{% block content %}
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Driving license: {{ user.profile.driving_license }}</li>
        <li>User since: {{ user.date_joined|date:'m-d-Y' }}</li>
        {% if user.profile.time %}
            <li>Hours remaining: {{ user.profile.time|time:'H:i' }}</li>
        {% endif %}
    </ul>
    <a href="{% url 'edit_user' user.id %}"><button type="button">Edit</button></a>
    <a href="{% url 'delete_user' user.id %}"><button type="button">Delete</button></a>
{% endblock%}