<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}RackPourTonPermis{% endblock %}</title>
</head>
<body>
<h1>{% block page_title %}Hello world{% endblock %}</h1>
<header>Passer son permis facilement: une question d'argent</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
{#            <li><a href="/blog/">Blog</a></li>#}
{#            <li><a href="/contact/">Contact</a></li>#}
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; SumsangCampus 2020</footer>
</body>
</html>