{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% comment %} Usage of 'static' {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>{% block title %} RackPourTonPermis {% endblock %}</title>
</head>

<body>
    <h1>{% block page_title %} RackPourTonPermis {% endblock %}</h1>

    {% include "_menu.html" %}
    {% block submenu %}{% endblock %}

    <section id="content"> {% block content %}{% endblock %}</section>

    <footer>{% include '_footer.html' %}</footer>
</body>
</html>